[Unit]
Description=Web server, delivering images

[Service]
Type=simple
ExecStart=/usr/bin/python .local/bin/web-wallpaper %i

[Install]
WantedBy=wayland-session.target
