[Unit]
Description=Automaticaly configure display outputs

[Service]
Type=simple
ExecStart=/usr/bin/kanshi

[Install]
WantedBy=wayland-session.target
