[Unit]
Description=Lock and dim screen after idle period

[Service]
Type=simple
ExecStart=/usr/bin/swayidle -d -w \
                            timeout 30 'if pgrep -x swaylock ; then wlopm --off "*"; fi' \
                            resume 'wlopm --on "*"' \
                            after-resume "mpc pause" \
                            before-sleep "~/.local/bin/screen-ctrl lock" \
                            lock "~/.local/bin/screen-ctrl lock"
Restart=always

[Install]
WantedBy=wayland-session.target
