[Unit]
Description=Show background image on wayland compositor

[Service]
Type=simple
Environment="RUST_BACKTRACE=full"
ExecStart=/usr/bin/swww-daemon --format xrgb
#ExecStartPost=/usr/bin/swww img ${WALLPAPER_FILE}

[Install]
WantedBy=wayland-session.target
