[Unit]
Description=Show background image on wayland compositor

[Service]
Type=simple
ExecStart=/usr/bin/swww-daemon
ExecStartPost=/usr/bin/swww img ${WALLPAPER_FILE}

[Install]
WantedBy=wayland-session.target
