[Unit]
Description=Redshift display colour temperature adjustment at %I
Documentation=http://jonls.dk/redshift/

[Service]
ExecStart=/usr/bin/redshift -l %I
Restart=always

[Install]
WantedBy=wayland-session.target
